@import '../index.css';

@mixin flex($direction: row, $main: center, $cross: center)
{
  display: flex;
  flex-direction: $direction;
  justify-content: $main;
  align-items: $cross;
}
@mixin grid($columns, $rows)
{
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
}
@mixin color($color, $backgroundColor)
{
  color: $color;
  background-color: $backgroundColor;
}
@mixin generic-button($backgroundColor, $color)
{
  padding: calc(5px * var(--scale)) calc(10px * var(--scale));
  border-radius: calc(5px * var(--scale));
  // @include color($color, $backgroundColor);
  height: auto;
  max-height: 100%;
}
@mixin generic-text-button($backgroundColor: #222, $color: white)
{
  @include generic-button($backgroundColor, $color);
  font-size: 1.5rem;
}
@mixin generic-icon-button($height: 100%, $backgroundColor: #222, $color: white)
{
  @include generic-button($backgroundColor, $color);
  @include flex();
  i
  {
    font-size: 2rem;
  }
}
